@import '../../_variables.sass';

.player-stats {
	position: absolute;
	top: -3.6vh;
	left: 0%;
	width: 100%;
}

.player-stats-row {
	width: 100%;
	position: relative;
}

.stats-component {
	width: 30%;
	margin-right: 0.1rem;
	margin-left: 0.1rem;
	position: relative;
	display: inline-block; // put two relative divs side-by-side
}

.dpc-tag {
	width: 100%;
	margin-left: 0rem;
	padding-left: 4rem !important;
}

.stats-pic {
	position: absolute;
	top: -120%;
	left: 1%;
}

.stats-text {
	width: 8.5rem;
	direction: rtl;
	position: absolute;
	left: 30%;
	top: -170%;
}

.stats-subtext {
	font-size: small;
}

// mobile view:
@media only screen and (max-width: 600px) {
	.stats-pic {
		width: 8vw;
	}

	.stats-text {
		width: 70%;
		direction: rtl;
		position: absolute;
		left: 30%;
		top: -120%;
	}

	.dpc-tag {
		font-size: 2.25vw !important;
		padding-left: 2vw !important;
	}
}
