@import "../_variables.sass";

.UI {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	z-index: 1;
}

/* Fonts */
.silk-screen-A {
	font-family: 'SilkScreenA';
}

.shpinscher-regular {
	font-family: 'SHPinscher-Regular';
}

/* Alignment & Positioning */
.is-centered {
	text-align: center;
}

/* Colors */
.text-white {
	color: #{$white} !important;
}

.text-black {
	color: #{$black} !important;
}

.text-gray {
	color: #{$gray} !important;
}

.text-yellow {
	color: #{$yellow} !important;
}

.text-red {
	color: #{$red} !important;
}

.text-yellow-outline{
	text-shadow: -1px -1px 0 #{$yellow}, 1px -1px 0 #{$yellow}, -1px 1px 0 #{$yellow}, 1px 1px 0 #{$yellow};
}

/* Animations: */
.alert-enter {
	opacity: 0;
	transform: scale(0.9);
}
.alert-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.alert-exit {
	opacity: 1;
}
.alert-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

/* No Text Selection/Highlighting */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }