@import '../../_variables.sass';

.health-bar {
	position: absolute;
	width: 40%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0);
	color: #{$black};
	font-size: 1.5rem;
	text-shadow: -1px -1px 0 #{$yellow}, 1px -1px 0 #{$yellow}, -1px 1px 0 #{$yellow}, 1px 1px 0 #{$yellow};
}

.platform-name {
	position: absolute;
	top: -1.5rem;
	left: 1rem;
	float: left;
}

.platform-toughness {
	position: absolute;
	top: -1.5rem;
	right: 0.5rem;
	// font-size: 2rem;
	float: right;
}

// mobile view:
@media only screen and (max-width: 600px) {
	.health-bar {
		position: absolute;
		width: 60%;
		left: 50%;
	}
}
