@import "../../_variables.sass";

.upgrade-cards {
	width: 13.5rem;
	margin: 2.5rem 0.5rem 0.5rem 0.5rem;
	display: inline-block;
	background-color: #{$background-dark-1} !important;
	border-radius: 5%;
	height: 18.5rem;
}

.upgrade-content {
	position: relative;
	padding: 4.5rem 1rem 1rem 1rem !important;
	margin-top: -2rem;
}

.upgrade-img-container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.level-text {
	margin-bottom: 0.5rem !important;
}

.effect-text {
	margin-bottom: 0.25rem !important;
}

.desc-box {
	white-space: pre-line;
	text-align: center;
	border-radius: 5% !important;
	// background-color: #ffcd00 !important;
	background-color: transparent !important;
	border-color: #{$background-light-1} !important;
	border-style: solid;
	border-width: 2px;
	padding: 0.5rem 1rem !important;
	margin-top: 1rem;
	height: 5rem;
}

.upgrade-action {
	margin: -0.25rem 0.25rem !important;
}

.upgrade-cost {
	display: flex; // both container and self needs to be flex?
	justify-content: center; // align horizontally
	width: 100%; // needs this for horizontal center
	align-items: center; // align vertically
	white-space: nowrap !important;
}

// .card {
// 	&.is-horizontal {
// 		display: flex;

// 		.card-image {
// 			width: 30%;
// 			height: 100%;
// 		}

// 		.card-stacked {
// 			flex-direction: column;
// 			flex: 1 1 auto;
// 			display: flex;
// 			position: relative;

// 			.card-content {
// 				flex-grow: 1;
// 				margin: 1rem 2rem 1rem 0 !important;
// 			}
// 		}
// 	}

// 	&.is-fullimage {
// 		background-color: transparent;
// 		.card-image {
// 			color: #fff !important;
// 			.card-stacked {
// 				position: absolute;
// 				bottom: 0;
// 				width: 100%;
// 				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
// 				text-shadow: 0px 0px 2px #000000;

// 				.card-footer {
// 					border-color: transparent;
// 				}

// 				.title,
// 				.subtitle {
// 					color: inherit;
// 				}

// 				a {
// 					color: inherit;

// 					&:hover {
// 						text-decoration: underline;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	//   .card-footer {
// 	//     .card-footer-item {
// 	//       padding-left: 1.5rem;
// 	//       padding-right: 1.5rem;
// 	//     }

// 	//     div.card-footer-item {
// 	//       justify-content: unset;
// 	//     }
// 	//   }
// }
