@import '../../_variables.sass';

.default-active {
	display: block;
}

.tabs ul li a {
	transition: color 300ms linear, border-color 300ms linear;
}
/*  Transition group */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
	transition-delay: 300ms;
}

.fade-enter-done {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in;
}

.fade-exit-done {
	opacity: 0;
}

/* bottom tab */
.bottom-tab {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.align-both-center {
	display: flex;
	align-items: center; /* vertically */
	justify-content: center; /* horizontally */
}

.tabs-content {
	padding: 0 0.75rem;
	// height: 33vh;
	background-color: #{$background-light-2};
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

// mobile view:
@media only screen and (max-width: 600px) {
	.tabs-content {
		padding: 0 1vw;
		// height: 35.5vh;
	}
}
