.inventory {
	margin: 1vh 1vw 1vh 1vw !important;

	.inventory-tile {
		background-color: gray;
		margin: 0.5vh 0.25vw 0.5vh 0.25vw;
		height: 7vh;

		.item {
			height: 6vh;
			width: 10vw;
		}
	}
}
