@font-face {
	font-family: SilkscreenA;
	src: url('assets/fonts/slkscr.ttf');
	font-weight: 400;
	font-weight: normal;
}

@font-face {
	font-family: SHPinscher-Regular;
	src: url('assets/fonts/SHPinscher-Regular.otf');
	font-weight: 400;
	font-weight: normal;
}
